/* Max Cohn */
body {
    background-color: #111111;
    color: #EEEEEE;
    user-select: none;
    font-family: 'Times New Roman';
}

a {
    color:white;
}

a:hover {
    color:powderblue;
}

.subcategory {
    font-size: 80%;
}

h1 {
    font-size: 3vh;
    margin:auto auto;
    text-align: center;
}

#search-button, #home-button {
    position:fixed;
    font-size: 3vh;
    bottom: 41vh;
    right: 5px;
    width: 4vh;
    border: 1px #444444 solid;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
    background-color: #111111;
    align-items: center;
}

#search-button {
    bottom: calc(41vh + 6vh);
}

#search-button > img, #home-button > a > img {
    width:100%;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#search-button.active {
    background-color: #222222;
}

#search:focus {
    outline:none;
    background-color:#ffffff;
}

#search-box {
    position: relative;
    top: -3px;
    width: fit-content;
    margin:auto auto;
}

#search {
    width: 70vw;
    height: 4vh;
    text-align: right;
    background-color: #cccccc;
    border-radius: 10px;
    font-size: 3vh;
}



a:visited, a:active {
    color: mediumspringgreen;
}

#center-box {
    width: fit-content;
    height:fit-content;
    margin: 25vh auto;
    text-align: center;
    font-size: 6vh;
    overflow:hidden;
}

#full-text {
    visibility: hidden;
}

#read {
    background-color: #111111;
    color:white;
    font-size: 100%;
    border: 1px #444444 solid;
    border-radius: 10px;
    font-family: 'Times New Roman';
}

#read:hover, #search-button:hover, #home-button:hover {
    border-color: #aaaaaa; 
}

ul:not(#visible-list) {
    margin: 0 auto;
    padding:0;
    border: 1px #222222 solid;
    border-radius: 5px;
    width:100vw;
    position:absolute;
    bottom:0;
    font-size: 3vh;
    max-height: 40vh;
    overflow-y: scroll;
}

ul:not(#visible-list) > li {
    list-style:none;
}

ul:not(#visible-list) > li:hover:not(.selected) {
    color:powderblue;
}

.selected {
    color:mediumspringgreen;
}

#visible-list {
    position:fixed;
    margin: 0 auto;
    width: 70vw;
    padding:0;
    border: 1px #222222 solid;
    border-radius: 5px;
}

#visible-list > li {
    font-size: 150%;
    list-style:none;
    text-align: right;
    background-color: #111111;
}

#visible-list > li:hover:not(.selected) {
    color:powderblue;
}

#controls {
    font-size: 60%;
}
