/* Max Cohn */
body {
    background-color: #111111;
    color: #EEEEEE;
    user-select: none;
    font-family: 'Open Sans';
}

a {
    color:white;
}

a:hover {
    color:powderblue;
}

a:visited, a:active {
    color: mediumspringgreen;
}

#center-box {
    width: fit-content;
    height:fit-content;
    margin: 10% auto;
    text-align: center;
    font-size: 400%;
    overflow:hidden;
}

#full-text {
    visibility: hidden;
}

#start {
    background-color: #111111;
    color:white;
    font-size: 100%;
    border: 1px #444444 solid;
    border-radius: 10px;
    font-family: 'Open Sans';
}

ul {
    margin: 0 auto;
    padding:0;
    border: 1px #222222 solid;
    border-radius: 5px;
}

ul > li {
    list-style:none;
}

ul > li:hover:not(.selected) {
    color:powderblue;
}

.selected {
    color:mediumspringgreen;
}
