/* Max Cohn */
body {
    background-color: #111111;
    color: #EEEEEE;
    user-select: none;
    font-family: 'Open Sans';
}

#center-box {
    width: fit-content;
    height:10%;
    margin: 50% auto;
    text-align: center;
    font-size: 400%;
}

#search:focus {
    outline:none;
}

#search {
    width:50%;
    text-align: right;
}

#visible-list {
    margin: 0 auto;
    width:50%;
    padding:0;
    border: 1px #222222 solid;
    border-radius: 5px;
}

ul#visible-list > li {
    font-size: 25%;
    list-style:none;
    text-align: right;
}

ul#visible-list > li:hover:not(.selected) {
    color:powderblue;
}

.selected {
    color:mediumspringgreen;
}
