/* Max Cohn */
body {
    background-color: #111111;
    color: #EEEEEE;
    user-select: none;
    font-family: 'Open Sans';
}

#center-box {
    width: fit-content;
    margin: 35vh auto;
    text-align: center;
    font-size: 10vh;
}

#search:focus {
    outline:none;
    background-color:#ffffff;
}

#search {
    width:35vh;
    height: 3vh;
    text-align: right;
    background-color: #cccccc;
    border-radius: 5px;
    font-size: 2vh;
}

#visible-list {
    margin: 0 auto;
    width: 35vh;
    padding:0;
    border: 1px #222222 solid;
    border-radius: 5px;
}

ul#visible-list > li {
    font-size: 25%;
    list-style:none;
    text-align: right;
}

ul#visible-list > li:hover:not(.selected) {
    color:powderblue;
}

.selected {
    color:mediumspringgreen;
}
